@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Kate Opager's Killer Site"; /*I am setting the title razor code variable to what I want displayed on this page. The variable is on the layout page */
}

<!--I created a header, and then a paragraph with information about my hopes with this class, a picture from my wedding day, and some listed jobs-->
<header>
    <h1 style="color:antiquewhite"> Kate Opager </h1>
</header>

<img src="img/6O2A9146.JPEG" />
<h1>
    This photo is from my wedding day, <br /> but I love hanging out with my friends! <br />
</h1>
<br />
<p style="padding-left:25%;padding-right:25%">
    A lot of IS concepts feel easy to understand, but then  when I go to write a program or complete a homework task
    I often feel completely lost. I'm hoping that this class will help with my overall understanding of programs and improve my programmer way of thinking.
    I think that this class will also challenge me and help improve my overall problem solving skills. Sometimes I get frustrated with code and want to quit, but
    this class will encourage me to keep trying and I'm eager to see all the new hard and soft skills that will come because of the struggle of it.
</p>
<br />
<p> </p>

<p style="font-size:25px;font-weight:bold">Kate's ideal jobs post graduation:</p>
<ul>
    <li>Technology Consulting</li>
    <li>Project Management</li>
    <li>Cyber Security</li>
</ul>


